# Preparing the data for Clustering and EDA

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandasql import sqldf

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score
from sklearn.cluster import DBSCAN, KMeans

I am reading in the two excel sheets separately and will use SQL to combine them for clustering and to create a revenue file for use in Time Series analysis.

In [7]:
year0910 = pd.read_excel('../data/online_retail_II.xlsx', sheet_name=0)

In [8]:
year1011 = pd.read_excel('../data/online_retail_II.xlsx', sheet_name=1)

In [13]:
year0910.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [9]:
year0910.shape

(525461, 8)

In [19]:
year0910.groupby('Invoice')['Country'].count()

Invoice
489434      8
489435      4
489436     19
489437     23
489438     17
           ..
C538121     1
C538122     1
C538123     3
C538124     3
C538164     1
Name: Country, Length: 28816, dtype: int64

There were 525461 different items purchased, on 28816 separate invoices.

In [10]:
year1011.shape

(541910, 8)

In [11]:
year0910.isna().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [12]:
year1011.isna().sum()

Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [ ]:
sql = """

"""

df = sqldf(sql)
df.head()